<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
      <!--
    This stores information in the mylogfile.txt file.  It only captures log events
    that contain the key word test or error.
    -->
      <appender name="FileAppender" type="log4net.Appender.FileAppender">
          <file value="run.log"/>
          <appendToFile value="true"/>
          <layout type="log4net.Layout.PatternLayout">
              <conversionPattern value="[%date] {%thread} [%level] (%logger) - %message%newline%exception"/>
          </layout>
      </appender>
      <appender name="ControlLogAppender" type="MineBotGame.ControlLogAppender">
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="[%date] {%thread} [%level] (%logger) - %message%newline%exception"/>
        </layout>
      </appender>
        <root>
          <level value="DEBUG"/>
          <appender-ref ref="FileAppender"/>
          <appender-ref ref="ControlLogAppender"/>
        </root>
    </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>